@import "tailwindcss";

:root {
  --blue: #1557bf;
  --red: #ee2e24;
  --green: #27ae60;
  --orange: #e67e22;
  --bg: #ffffff;
  --hover: #f5f5f5;
  --border: #e0e0e0;
  --text: #1a2340;
}

#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--bg);
  color: var(--text);
  user-select: none;
}
